<div class="view intro-2"
    style="background-image: linear-gradient(100deg, rgba(0, 69, 125, 1), rgba(24, 59, 87, 0.822)  ); padding-top: 25px">
    <div class="full-bg-img">
        <div class="container white-text wow fadeInUp">
            <br>
            <br>
            <h5 style="font-weight:250; color: white; font-weight: bold;" class="tk-museo-sans">Welcome To Asset
                Register,
                {{name}}</h5>
            <br>
            <div class="row">
                <div>
                    <p style="color: white; font-weight: 300;">Click panel below to access Asset Register Menu</p>
                </div>

            </div>

            <br>
        </div>
    </div>
</div>

<div class="container">
    <br>
    <button type="button" class="btn btn-info" aria-label="Close" mdbWavesEffect (click)="back()"
        style="background-color: rgba(0, 69, 125, 1) !important; color: white;"> <i class="fa fa-arrow-left"></i> BACK</button>

    <h5 style="text-align: center;">ASSET REGISTER</h5>

    <div style="padding:20px">
        <br>
        <br>
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" id="main-menu" routerLink="/binmak/asset-setup">
                <div style="text-align: center;">
                    <i class="fas fa-cogs fa-3x fa-fw" style="color: rgba(0, 69, 125, 1);"></i><br><br>
                    <h6 style="font-weight: 400; color: rgba(0, 69, 125, 1);">Set-Up Asset Register</h6>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" id="main-menu">
                <div style="text-align: center;">
                    <i class="far fa-eye fa-3x fa-fw" style="color: rgba(0, 69, 125, 1);"></i><br><br>
                    <h6 style="font-weight: 400; color: rgba(0, 69, 125, 1);">View Asset Hierachy</h6>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" id="main-menu">
                <div style="text-align: center;">
                    <i class="fas fa-file fa-3x fa-fw" style="color: rgba(0, 69, 125, 1);"></i><br><br>
                    <h6 style="font-weight: 400; color: rgba(0, 69, 125, 1);">Asset Reporting</h6>
                </div>
            </div>

        </div>
    </div>

</div>

