#main-menu{
    cursor: pointer;
}

#main-menu:hover {
    transform: scale(1.1);
  }

  .card-text:last-child{
      margin-bottom: 0 !important;
  }

  .card-text{
    margin-bottom: 0 !important;
  }