#login-side-image{
    background-image: url('./../../../assets/b.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 767px) {                  
    #registerBtn {
       display: none;
    }
 }

 @media (min-width: 767px) {                  
    #registerBtnAlign {
       display: none;
    }
 }

