<div class="view intro-2"
    style="background-image: linear-gradient(100deg, rgba(0, 69, 125, 1), rgba(24, 59, 87, 0.822)  ); padding-top: 25px">
    <div class="full-bg-img">
        <div class="container white-text wow fadeInUp">
            <br>
            <br>
            <h5 style="font-weight:250; color: white; font-weight: bold;" class="tk-museo-sans">Welcome To Assessment,
                {{name}}</h5>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <p style="color: white; font-weight: 300;">Click panel below to manage Assessment</p>
                </div>
            </div>

            <br>
        </div>
    </div>
</div>

<div class="extended-container" style="padding: 40px;">
    <br>
    <br>
    <button type="button" class="btn btn-info" aria-label="Close" mdbWavesEffect (click)="back()"
        style="background-color: rgb(41, 40, 40) !important; color: white;"> <i class="fa fa-arrow-left"></i>
        BACK</button>

    <h5 style="text-align: center;">Manage Assessments</h5>

    <div style="padding:20px">
        <br>
<br>
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>

            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12" id="main-menu">
                <div style="text-align: center;">
                    <i class="fas fa-users-cog fa-2x fa-fw" style="color: rgba(0, 69, 125, 1);"></i><br><br>
                    <h6 style="font-weight: 400; color: rgba(0, 69, 125, 1);">Users
                    </h6>
                </div>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12" id="main-menu">
                <div style="text-align: center;">
                    <i class="fas fa-graduation-cap fa-2x fa-fw" style="color: rgba(0, 69, 125, 1);"></i><br><br>
                    <h6 style="font-weight: 400; color: rgba(0, 69, 125, 1);">Assessments
                    </h6>
                </div>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12" id="main-menu" routerLink="/binmak/assessment-landing">
                <div style="text-align: center;">
                    <i class="fab fa-accusoft fa-2x fa-fw" style="color: rgba(0, 69, 125, 1);"></i><br><br>
                    <h6 style="font-weight: 400; color: rgba(0, 69, 125, 1);">BP Questions</h6>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12" id="main-menu">
                <div style="text-align: center;">
                    <i class="fas fa-bacon fa-2x fa-fw" style="color: rgba(0, 69, 125, 1);"></i><br><br>
                    <h6 style="font-weight: 400; color: rgba(0, 69, 125, 1);">KPI Question
                    </h6>
                </div>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12" id="main-menu" routerLink="/binmak/assessment-landing">
                <div style="text-align: center;">
                    <i class="fab fa-blogger fa-2x fa-fw" style="color: rgba(0, 69, 125, 1);"></i><br><br>
                    <h6 style="font-weight: 400; color: rgba(0, 69, 125, 1);">Framework</h6>
                </div>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12" id="main-menu">
                <div style="text-align: center;">
                    <i class="fab fa-buysellads fa-2x fa-fw" style="color: rgba(0, 69, 125, 1);"></i><br><br>
                    <h6 style="font-weight: 400; color: rgba(0, 69, 125, 1);">Version
                    </h6>
                </div>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12" id="main-menu" routerLink="/binmak/assessment-landing">
                <div style="text-align: center;">
                    <i class="fab fa-chromecast fa-2x fa-fw" style="color: rgba(0, 69, 125, 1);"></i><br><br>
                    <h6 style="font-weight: 400; color: rgba(0, 69, 125, 1);">Varient</h6>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12" id="main-menu" routerLink="/binmak/assessment-landing">
                <div style="text-align: center;">
                    <i class="fas fa-chalkboard-teacher fa-2x fa-fw" style="color: rgba(0, 69, 125, 1);"></i><br><br>
                    <h6 style="font-weight: 400; color: rgba(0, 69, 125, 1);">KPA</h6>
                </div>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12" id="main-menu">
                <div style="text-align: center;">
                    <i class="fab fa-diaspora fa-2x fa-fw" style="color: rgba(0, 69, 125, 1);"></i><br><br>
                    <h6 style="font-weight: 400; color: rgba(0, 69, 125, 1);">KPI
                    </h6>
                </div>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12" id="main-menu" routerLink="/binmak/assessment-landing">
                <div style="text-align: center;">
                    <i class="fab fa-confluence fa-2x fa-fw" style="color: rgba(0, 69, 125, 1);"></i><br><br>
                    <h6 style="font-weight: 400; color: rgba(0, 69, 125, 1);">BP</h6>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>

        </div>
    </div>

</div>